# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# If you're using PostgreSQL:
*.pgsql

# Environment variables:
.env

# If you're using virtualenv:
venv/
env/
ENV/

# If you're using Pipenv:
Pipfile
Pipfile.lock

# If you're using pyenv:
.python-version

# Migrations
*/migrations/*

# Static and media files
staticfiles/
media/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS specific files
.DS_Store

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

# Celery
celerybeat-schedule
