{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Digits Recognition</title>
    <link rel="stylesheet" href="{% static 'recognition/css/draw.css' %}">
</head>
<body>
    <h1>Draw a Digit or Upload an Image</h1>

    <div id="drawingArea">
        <!-- Canvas element where users will draw the digit -->
        <canvas id="canvas" width="200" height="200"></canvas>
        
        <!-- Buttons for clearing the canvas and submitting the drawn digit -->
        <button onclick="clearCanvas()">Clear</button>
        <button onclick="submitCanvas()">Submit</button>
    </div>
    

    <!-- Form for uploading a digit image -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!-- CSRF token for security in Django -->
        <input type="file" name="digit_image"> <!-- File input for uploading an image -->
        <button type="submit">Upload</button> <!-- Button to submit the uploaded image -->
    </form>

    <!-- Section to display the result and provide additional functionality -->
    <div>
        <!-- Area where the result of the digit recognition will be displayed -->
        <div id="result"></div>
        
        <!-- Hidden image element to display a preview of the canvas drawing -->
        <img id="previewImage" style="display: none;" alt="Canvas Preview">
        
        <!-- Hidden download link to allow users to download the canvas drawing -->
        <a id="downloadLink" download="drawing.png" style="display: none;">Download Image</a>
    </div>

    <script src="{% static 'recognition/js/draw_canvas.js' %}"></script>
</body>
</html>
